:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  form {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    #direction {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }    
    
    #buttons {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-auto-flow: column;
      height: 125px;
    }
  }
}

#header {
  height: 2rem;
  width: 100vw;
  background-color: red;
  -webkit-app-region: drag;
}
