:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.controls {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#header {
  height: 2rem;
  width: 100vw;
  background-color: red;
  -webkit-app-region: drag;
}
